<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.SelfPayReceiveMapper">

    <resultMap type="com.ruoyi.project.domain.SelfPayReceive" id="SelfPayReceiveResult">
        <result property="payReceiveId"    column="pay_receive_id"    />
        <result property="projectCode"    column="project_code"    />
        <result property="payReceiveSysCode"    column="pay_receive_sys_code"    />
        <result property="payReceiveCode"    column="pay_receive_code"    />
        <result property="projectName"    column="project_name"    />
        <result property="receiveName"    column="receive_name"    />
        <result property="receiveTime"    column="receive_time"    />
        <result property="receiveMoney"    column="receive_money"    />
        <result property="receiveAccount"    column="receive_account"    />
        <result property="fileNameReceive"    column="file_name_receive"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSelfPayReceiveVo">
        select pay_receive_id, project_code, pay_receive_sys_code, pay_receive_code, project_name, receive_name, receive_time, receive_money, receive_account, file_name_receive, create_by, update_by, create_time, update_time  from self_pay_receive
    </sql>

    <sql id="selectSelfPayReceiveJoin">
        select t.pay_receive_id, t.project_code, t.pay_receive_sys_code, t.pay_receive_code, t.project_name, t.receive_name, t.receive_time, t.receive_money,
               t.receive_account, t.file_name_receive, t.create_by, t.update_by, t.create_time, t.update_time,
               A.pay_name, A.pay_time, A.pay_money, A.pay_account, A.file_name_pay,A.create_by AS createByPay, A.update_by AS updateByPay,
               A.create_time AS createTimePay, A.update_time AS updateTimePay, A.pay_code, A.pay_sys_code
        FROM self_pay_receive t  LEFT JOIN self_pay A ON t.pay_receive_sys_code=A.pay_receive_sys_code
    </sql>
    <select id="selectLast" resultMap="SelfPayReceiveResult">
        <include refid="selectSelfPayReceiveVo"/>
        ORDER BY pay_receive_id DESC LIMIT 0,1
    </select>

    <select id="selectSelfPayReceiveJoinByCode" parameterType="String" resultType="com.ruoyi.project.domain.SelfPayReceive">
        <include refid="selectSelfPayReceiveJoin"/>
       where pay_receive_sys_code=#{payReceiveSysCode}
    </select>

    <select id="selectSelfPayReceiveList" parameterType="com.ruoyi.project.domain.SelfPayReceive" resultMap="SelfPayReceiveResult">
        <include refid="selectSelfPayReceiveVo"/>
        <where>
            <if test="projectCode != null  and projectCode != ''"> and project_code = #{projectCode}</if>
            <if test="payReceiveSysCode != null  and payReceiveSysCode != ''"> and pay_receive_sys_code = #{payReceiveSysCode}</if>
            <if test="payReceiveCode != null  and payReceiveCode != ''"> and pay_receive_code = #{payReceiveCode}</if>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="receiveName != null  and receiveName != ''"> and receive_name like concat('%', #{receiveName}, '%')</if>
            <if test="receiveTime != null "> and receive_time = #{receiveTime}</if>
            <if test="receiveMoney != null "> and receive_money = #{receiveMoney}</if>
            <if test="receiveAccount != null  and receiveAccount != ''"> and receive_account = #{receiveAccount}</if>
            <if test="fileNameReceive != null  and fileNameReceive != ''"> and file_name_receive = #{fileNameReceive}</if>
        </where>
    </select>

    <select id="selectSelfPayReceiveByPayReceiveId" parameterType="String" resultMap="SelfPayReceiveResult">
        <include refid="selectSelfPayReceiveVo"/>
        where pay_receive_id = #{payReceiveId}
    </select>

    <select id="selectSelfPayReceiveByProjectCode" parameterType="String" resultMap="SelfPayReceiveResult">
        <include refid="selectSelfPayReceiveVo"/>
        where project_code = #{projectCode}
    </select>

    <insert id="insertSelfPayReceive" parameterType="com.ruoyi.project.domain.SelfPayReceive" useGeneratedKeys="true" keyProperty="payReceiveId">
        insert into self_pay_receive
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectCode != null and projectCode != ''">project_code,</if>
            <if test="payReceiveSysCode != null and payReceiveSysCode != ''">pay_receive_sys_code,</if>
            <if test="payReceiveCode != null and payReceiveCode != ''">pay_receive_code,</if>
            <if test="projectName != null">project_name,</if>
            <if test="receiveName != null">receive_name,</if>
            <if test="receiveTime != null">receive_time,</if>
            <if test="receiveMoney != null">receive_money,</if>
            <if test="receiveAccount != null">receive_account,</if>
            <if test="fileNameReceive != null">file_name_receive,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectCode != null and projectCode != ''">#{projectCode},</if>
            <if test="payReceiveSysCode != null and payReceiveSysCode != ''">#{payReceiveSysCode},</if>
            <if test="payReceiveCode != null and payReceiveCode != ''">#{payReceiveCode},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="receiveName != null">#{receiveName},</if>
            <if test="receiveTime != null">#{receiveTime},</if>
            <if test="receiveMoney != null">#{receiveMoney},</if>
            <if test="receiveAccount != null">#{receiveAccount},</if>
            <if test="fileNameReceive != null">#{fileNameReceive},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateSelfPayReceive" parameterType="com.ruoyi.project.domain.SelfPayReceive">
        update self_pay_receive
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectCode != null and projectCode != ''">project_code = #{projectCode},</if>
            <if test="payReceiveSysCode != null and payReceiveSysCode != ''">pay_receive_sys_code = #{payReceiveSysCode},</if>
            <if test="payReceiveCode != null and payReceiveCode != ''">pay_receive_code = #{payReceiveCode},</if>
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="receiveName != null">receive_name = #{receiveName},</if>
            <if test="receiveTime != null">receive_time = #{receiveTime},</if>
            <if test="receiveMoney != null">receive_money = #{receiveMoney},</if>
            <if test="receiveAccount != null">receive_account = #{receiveAccount},</if>
            <if test="fileNameReceive != null">file_name_receive = #{fileNameReceive},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where pay_receive_id = #{payReceiveId}
    </update>

    <delete id="deleteSelfPayReceiveByPayReceiveId" parameterType="String">
        delete from self_pay_receive where pay_receive_id = #{payReceiveId}
    </delete>

    <delete id="deleteSelfPayReceiveByPayReceiveIds" parameterType="String">
        delete from self_pay_receive where pay_receive_id in
        <foreach item="payReceiveId" collection="array" open="(" separator="," close=")">
            #{payReceiveId}
        </foreach>
    </delete>

<!--    <insert id="recycle1" >-->
<!--        INSERT into self_project_recycle-->
<!--        <include refid="selectSelfProjectVo"/>-->
<!--        WHERE project_code=#{projectCode}-->
<!--    </insert>-->

<!--    <delete id="deleteProjectByCode" parameterType="String">-->
<!--        delete from self_project where project_code =#{projectCode}-->
<!--    </delete>-->

</mapper>