<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.SelfPayTgMapper">

    <resultMap type="com.ruoyi.project.domain.SelfPay" id="SelfPayResult">
        <result property="payId"    column="pay_id"    />
        <result property="receiveSysCode"    column="receive_sys_code"    />
        <result property="payName"    column="pay_name"    />
        <result property="payTime"    column="pay_time"    />
        <result property="payMoney"    column="pay_money"    />
        <result property="payAccount"    column="pay_account"    />
        <result property="fileNamePay"    column="file_name_pay"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="projectCode"    column="project_code"    />
        <result property="payCode"    column="pay_code"    />
        <result property="paySysCode"    column="pay_sys_code"    />
        <result property="isCheck"    column="is_check"    />
        <result property="payRemark"    column="pay_remark"    />
    </resultMap>

    <sql id="selectSelfPayVo">
        select pay_id, receive_sys_code, pay_name, pay_time, pay_money, pay_account, file_name_pay,
               create_by, update_by, create_time, update_time,project_code, pay_code, pay_sys_code,
               is_check,pay_remark from self_pay_tg
    </sql>

    <select id="selectLast" resultMap="SelfPayResult">
        <include refid="selectSelfPayVo"/>
        ORDER BY pay_id DESC LIMIT 0,1
    </select>

    <select id="selectSelfPayList" parameterType="com.ruoyi.project.domain.SelfPay" resultMap="SelfPayResult">
        <include refid="selectSelfPayVo"/>
        <where>
            <if test="receiveSysCode != null  and receiveSysCode != ''"> and receive_sys_code = #{receiveSysCode}</if>
            <if test="payName != null  and payName != ''"> and pay_name like concat('%', #{payName}, '%')</if>
            <if test="payTime != null "> and pay_time = #{payTime}</if>
            <if test="payMoney != null "> and pay_money = #{payMoney}</if>
            <if test="payAccount != null  and payAccount != ''"> and pay_account = #{payAccount}</if>
            <if test="fileNamePay != null  and fileNamePay != ''"> and file_name_pay = #{fileNamePay}</if>
            <if test="projectCode != null  and projectCode != ''"> and project_code = #{projectCode}</if>
            <if test="payCode != null  and payCode != ''"> and pay_code = #{payCode}</if>
            <if test="paySysCode != null  and paySysCode != ''"> and pay_sys_code = #{paySysCode}</if>
            <if test="isCheck != null "> and is_check = #{isCheck}</if>
            <if test="payRemark != null  and payRemark != ''"> and pay_remark = #{payRemark}</if>
        </where>
    </select>

    <select id="selectSelfPayByPayId" parameterType="String" resultMap="SelfPayResult">
        <include refid="selectSelfPayVo"/>
        where pay_id = #{payId}
    </select>

    <select id="selectSelfPayByProjectCode" parameterType="String" resultMap="SelfPayResult">
        <include refid="selectSelfPayVo"/>
        where project_code = #{projectCode}
    </select>

    <insert id="insertSelfPay" parameterType="com.ruoyi.project.domain.SelfPay" useGeneratedKeys="true" keyProperty="payId">
        insert into self_pay_tg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="receiveSysCode != null and receiveSysCode != ''">receive_sys_code,</if>
            <if test="payName != null">pay_name,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="payMoney != null">pay_money,</if>
            <if test="payAccount != null">pay_account,</if>
            <if test="fileNamePay != null">file_name_pay,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="projectCode != null and projectCode != ''">project_code,</if>
            <if test="payCode != null and payCode != ''">pay_code,</if>
            <if test="paySysCode != null and paySysCode != ''">pay_sys_code,</if>
            <if test="isCheck != null">is_check,</if>
            <if test="payRemark != null">pay_remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="receiveSysCode != null and receiveSysCode != ''">#{receiveSysCode},</if>
            <if test="payName != null">#{payName},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="payMoney != null">#{payMoney},</if>
            <if test="payAccount != null">#{payAccount},</if>
            <if test="fileNamePay != null">#{fileNamePay},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="projectCode != null and projectCode != ''">#{projectCode},</if>
            <if test="payCode != null and payCode != ''">#{payCode},</if>
            <if test="paySysCode != null and paySysCode != ''">#{paySysCode},</if>
            <if test="isCheck != null">#{isCheck},</if>
            <if test="payRemark != null">#{payRemark},</if>
        </trim>
    </insert>

    <update id="updateSelfPay" parameterType="com.ruoyi.project.domain.SelfPay">
        update self_pay_tg
        <trim prefix="SET" suffixOverrides=",">
            <if test="receiveSysCode != null and receiveSysCode != ''">receive_sys_code = #{receiveSysCode},</if>
            <if test="payName != null">pay_name = #{payName},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="payMoney != null">pay_money = #{payMoney},</if>
            <if test="payAccount != null">pay_account = #{payAccount},</if>
            <if test="fileNamePay != null">file_name_pay = #{fileNamePay},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="projectCode != null and projectCode != ''">project_code = #{projectCode},</if>
            <if test="payCode != null and payCode != ''">pay_code = #{payCode},</if>
            <if test="paySysCode != null and paySysCode != ''">pay_sys_code = #{paySysCode},</if>
            <if test="isCheck != null">is_check = #{isCheck},</if>
            <if test="payRemark != null">pay_remark = #{payRemark},</if>
        </trim>
        where pay_id = #{payId}
    </update>

    <delete id="deleteSelfPayByPayId" parameterType="String">
        delete from self_pay_tg where pay_id = #{payId}
    </delete>

    <delete id="deleteSelfPayByPayIds" parameterType="String">
        delete from self_pay_tg where pay_id in
        <foreach item="payId" collection="array" open="(" separator="," close=")">
            #{payId}
        </foreach>
    </delete>

    <insert id="recycle" >
        INSERT into self_pay_tg_recycle
        <include refid="selectSelfPayVo"/>
        WHERE pay_sys_code=#{paySysCode}
    </insert>

    <delete id="deletePayByCode" parameterType="String">
        delete from self_pay_tg where pay_sys_code =#{paySysCode}
    </delete>

    <select id="selectPayByReceiveCode" parameterType="String" resultMap="SelfPayResult">
        <include refid="selectSelfPayVo"/>
        where  receive_sys_code = #{receiveSysCode}
    </select>

</mapper>