<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.place.mapper.BusinessAgencyFeeRecycleMapper">

    <sql id="selectBusinessAgencyFeeVo">
        select agency_fee_id, place_code, special_invoice_6, special_invoice_13, special_self_fee, is_special_tax,
               ordinary_self_fee, ordinary_proxy_fee, is_ordinary_tax, is_delete, create_time, create_by, update_by,
               update_time, special_invoice6_money, special_invoice13_money, ordinary_proxy_money, special_proxy_fee,
               special_proxy_money, ordinary_tax, ordinary_special_tax, ordinary_share, ordinary_share_money, special_share,
               special_share_money, is_self_tax, is_special_self_tax, ordinary_proxy_ismoney, special_proxy_ismoney,
               ordinary_share_ismoney, special_share_ismoney, is_ordinary_share, is_special_share, is_slider, is_slider_ordinary,
               self_share,is_self_share,self_share_ismoney,is_register_money, is_disposable, disposable_share, disposable_share_ismoney,
               is_disposable_share, disposable_fee, disposable_fee_ismoney,disposable_remark
        from business_agency_fee
    </sql>

    <insert id="recycle" >
        INSERT into business_agency_fee_recycle
        <include refid="selectBusinessAgencyFeeVo" />
        WHERE place_code=#{placeCode}
    </insert>

</mapper>