<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.place.mapper.BusinessAgencyFeeRecycleMapper">

    <insert id="recycle" >
        INSERT into business_agency_fee_recycle SELECT *FROM business_agency_fee WHERE place_code=#{placeCode}
    </insert>

</mapper>